.playground {
  position: relative;
  overflow: auto;
  background-color: lightgray;
  flex: 1;

  .block {
    position: absolute;
    z-index: 2000;
  }

  .wire {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}
